//! **************************************************************************
// Written by: Map P.28xd on Tue May 19 12:59:12 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sel" LOCATE = SITE "T9" LEVEL 1;
COMP "rst" LOCATE = SITE "T10" LEVEL 1;
COMP "decoderout<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "decoderout<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "decoderout<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "decoderout<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "out<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "out<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "out<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "out<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "out<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "out<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "out<6>" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

